.image {
    background-image: url("project://database/Assets/Art/sprites/ui.png?fileID=1300293054&guid=97dcdf314f072d3428357935834c1aee&type=3#progress_00");
    -unity-background-scale-mode: scale-to-fit;
    -unity-slice-scale: 1px;
    -unity-slice-type: sliced;
    background-position-x: right 0;
    background-position-y: top 0;
    background-size: 128px 128px;
}
